<div class="row categories">
    <h5 class="ma0">
      <a href="#" class="btn btn--sm btn--gray filter-by-category">
        Filter by categories
      </a>
    </h5>
    <hr class="mv2 mh0">
    <ul class="list tree">
      {{ fn('walk_category_tree', categories, 4, defaults) }}
    </ul>
  </div>
  <div class="row pv2 mt2 mt0--ns product-list">
    {% for product in products %}
      <article class="br2 ba dark-gray b--black-10 mt3 product">
        <img src="//placehold.it/600x300" class="db w-100 br2 br--top" alt="">
        <div class="pa2 ph3-ns pb3-ns">
          <div class="dt w-100 mt1">
            <div class="dtc">
              <h1 class="f5 f4-ns mv0"><a href="{{ product.link }}" class="link black">{{ product.title}}</a></h1>
              <p class="mv1 gray">{{ product.author }}</p>
            </div>
          </div>
        </div>
      </article>
    {% endfor %}

  </div>
  <div class="mt4 pa4 bt b--light-silver">
    {% if pagination.prev %}
      <a class="fl f5 link black" href="{{ pagination.prev.link }}">&laquo;&nbsp;Prev</a>
    {% endif %}
    {% if pagination.next %}
      <a class="fr f5 link black" href="{{ pagination.next.link }}">Next&nbsp;&raquo;</a>
    {% endif %}
</div>
