<div class="row pv2 mt2 mt0--ns product-list">
  {% for product in products %}
    <article class="br2 ba dark-gray b--black-10 mt3 product">
      {% set img = product_image(product) %}
      <img src="{{ img.src('thumb') }}" alt="" />
      <div class="pa2 ph3-ns pb3-ns">
        <div class="dt w-100 mt1">
          <div class="dtc">
            <h1 class="f5 f4-ns mv0 ttc">
              <a href="{{ product.link }}" class="link black">
                {{ product.title}}
              </a>
            </h1>
            <p class="mv1">
              <a
                class="link gray dim"
                href="/author/{{product.author.user_login}}/"
               >
                {{ product.author }}
              </a>
            </p>
            <p>
              {% for term in product.terms('category') %}
                <a class="f6 link dim br-pill ph2 pv1 mb2 dib black bg-light-gray"
                   href="/category/{{ term.slug }}">
                   {{ term.name }}
                </a>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </article>
  {% endfor %}
  <div class="mt4 w-100">
    {% if pagination.prev %}
      <a class="f6 btn btn--sm btn--gray btn--prev"
         href="{{ pagination.prev.link }}">
         Prev
      </a>
    {% endif %}
    {% if pagination.current %}
      <span class="count">{{ pagination.current }}/{{ pagination.total }}</span>
    {% endif %}
    {% if pagination.next %}
      <a
        class="f6 btn btn--sm btn--gray btn--next"
        href="{{ pagination.next.link }}">
        Next
      </a>
    {% endif %}
  </div>
</div>
