{% extends "base.twig" %}

{% block content %}
<div class="container">
	<div class="col-3--desktop br b--light-silver">
		<p>
			{% if author.address %}
				<span class="b">Address:&nbsp;</span>{{ author.address }} {{ author.address2 }}
			{% endif %}
			{% if author.city %}
				{{- author.city -}},
			{% endif %}
			{% if author.state %}{{- author.state -}}{% endif %}
		</p>

		{% if author.user_email %}
		<p>
			<span class="b">Email:</span><a href="mailto:{{author.user_email}}" class="link black">
				{{ author.user_email }}
			</a>
		</p>
		{% endif %}

		{% if author.phone1 or author.phone2 %}
		<p>
			<span class="b">Phone: </span>
			<a class="link black" href="tel:{{author.phone1}}">{{ author.phone1}}</a>
			{% if author.phone2 %}
				<a href="tel{{ author.phone2 }}" class="link gray"></a>
			{% endif %}
		</p>
		{% endif %}

			{% if author.services %}
				<h4 class="pt2">Services</h4>
				<ul class="list pa0 pr4">
					{% for service in author.services %}
						<li class="pv1 ttc">{{ service }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			{% if author.type_of_business %}
				<h5 class="pt2">Type Of Business</h5>
					<ul class="list pa0 pr4">
						{% for type in author.type_of_business %}
							<li class="pv1 ttc">{{ type }}</li>
						{% endfor %}
					</ul>
				</h5>
			{% endif %}
			{% if author.market %}
				<h4 class="pt2">Market</h4>
					<ul class="list pa0 pr4">
						{% for market in author.market %}
							<li class="pv1 ttc">{{ market }}</li>
						{% endfor %}
					</ul>
				</h5>
			{% endif %}
	</div>

	<div class="col-9">
		<h1> {{ author.display_name }} </h1>
		{% include 'product-list/product-list.twig' with {
			products: posts
		} only %}

		</div>
	</div>
</div>
{% endblock %}
