{% extends "base.twig" %}

{% block content %}
	<div class="col-12 col-2--desktop category__sidebar hide-on-mobile">
		<ul class="list">
			{{fn('wp_list_categories', { hide_empty: false })}}
		</ul>
	</div>
	<div class="col-12 col-9--desktop shift-1--desktop">
		<div class="row">
			<form action="/" type="GET">
				<label for="s" class="label black mb1">Search for a product or vendor</label>
				<input name="s" class="col-12 input-reset ba pa2" type="text" class="input">
			</form>
		</div>
		<div class="row pv2 mt2 mt0--ns">
			{% for product in products %}
			  <article class="br2 ba dark-gray b--black-10 col-4--desktop mt3">
			    <img src="//placehold.it/600x300" class="db w-100 br2 br--top" alt="">
			    <div class="pa2 ph3-ns pb3-ns">
			      <div class="dt w-100 mt1">
			        <div class="dtc">
			          <h1 class="f5 f4-ns mv0"><a href="{{ product.link }}" class="link black">{{ product.title}}</a></h1>
								<p class="mv1 gray">{{ product.author }}</p>
			        </div>
			      </div>
			    </div>
			  </article>
			{% endfor %}

		</div>
		<div class="mt4 pa4 bt b--light-silver">
			{% if page > 1 %}
				<a class="fl f5 link black" href="/products/?page={{ page - 1}}">&laquo;&nbsp;Prev</a>
			{% endif %}
			<a class="fr f5 link black" href="/products/?page={{ page + 1 }}">Next&nbsp;&raquo;</a>
		</div>
	</div>
{% endblock %}
