{% extends "base.twig" %}

{% block content %}
	<h1 class="vendors">Vendors</h1>
	<div class="row">
		{% for user in users %}
			<article class="col-6">
			  <h3 class="f4 bold mw6">{{ user.display_name }}</h3>
			  <ul class="list pl0 ml0 mw6 ba b--light-silver br2">
					{% for product in user.products %}
						{% set product = TimberPost(product) %}
						{% if product.post_title %}
							<li class="ph3 pv3 bb b--light-silver"> {{- product.post_title -}}&nbsp;–&nbsp;
														{%- for term in product.terms('category') -%}
															{{- term.name -}}
														{%- endfor -%}
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</article>
		{% endfor %}
	</div>
	<div class="row bt pv4 mt6">
		<nav>
			{% if page > 1 %}
				<a href="/?page={{ page - 1}}" class="link fl">Prev</a>
			{% endif %}

			<a href="/?page={{ page + 1}}" class="link fr">Next</a>
		</nav>
	</div>
{% endblock %}
